<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgXVxICrUYebiNJm7cHiWYdxdumGMtBQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>766755536649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tangoAdmin</string>
	<key>PROJECT_ID</key>
	<string>restaurant-web-admin-b0fb8</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-web-admin-b0fb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766755536649:ios:71b7db8c8290286b691dd8</string>
</dict>
</plist>